body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7799ee;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 35px;
}

.header-text {
    text-align: left;
}

.header-bullette{
    list-style-type: disc;
}

.h-line{
    padding: 0px;
    margin: 1px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px; 
    /*margin: 10px 0;*/
    /*padding: 10px;
    border: 2px solid #ffffff; /* Change this to your desired border color */
    /*background-color: #0056b3; /* Change this to your desired background color */
    /*border-radius: 5px; /* Optional: for rounded corners */
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #333;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

nav ul li a:hover {
  background-color: #ddd; /* Change background on hover */
}

main {
    margin: 30px 30px;
}
.bio-paragraph{
    font-size:18px;
    text-align:justify;
    line-height: 1.5;
}

.bio-list{
    display: block;
    list-style-type: disc;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    line-height:160%
}

.bio-list-item{
    font-size:18px;
}

.exp-list{
    display: block;
    list-style-type: disc;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    line-height:160%
}

.exp-list-item{
    font-size:18px;
}
footer {
    background-color: #7799ee;/*f8f9fa;*/
    padding: 0 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*          Contact Page           */
.list-contact {
    list-style: none; /* Remove default bullets */
}
.list-contact li::before {
    content: url('resources/Email_icon.png'); /* Path to the first custom icon */
    /*display: inline-block;*/
    margin-right: 10px; /* Add spacing between icon and text */
}

.contact-list-item{
    font-size:18px;
}

/*         Publication Page         */

ol {

    font-size: 18px; /* Increase font size */
}
ol li {
    margin-bottom: 12px; /* Add space between list items */
    text-align: justify;
}
        

/*new menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.2rem 0.5rem;
    background-color: #5555ee;
    overflow: hidden;

}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #333;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-left: 1.1rem;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 1.1rem;
    transition: 0.3s;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 208px;
        left: 0;
        background-color: #5555ee;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-item {
        margin: 0.3rem 0;
    }

    .hamburger {
        display: flex;
    }
}

